$whiteA: #aaa;
$whiteD: #ddd;
$whiteE: #eee;
$gray2: #222;
$gray3: #333;

/* $color1: #3f51b5;
$color2: #1a237e; */
$color1: #1468b3;
$color2: #204379;
$color3: #ff005d;
$color5: #139bbf;
$color6: #4dd0e1;
$color7: #f6f7f9;
$color8: #1d4c87;
$color9: #0f121a;
$color10: #1d1b26;
$color11: #1a237e;


$breakpointBig: 2000px;
$breakpointMedium: 1470px;
$breakpointSmall: 1100px;
$breakpointMobile: 810px;


$time1: 0.15s;
$time2: 0.3s;
$time3: 5s;


$topBarHeight: 55px;
$marginTop: 50px;
$gap: 250px;
$gapMobile: 80px;
