.footer {
	height: 5vw;
	
	position: relative;
	
	background: #111;
	box-shadow: 0 0 1vw color(black a(55%));
	
	font-size: 1.5vw;
	
	@media (max-width: $breakpointMobile) {
		height: auto;
		padding: 8vw 0;
		display: block;
		text-align: center;
		font-size: 4.5vw;
	}
	
	@media (min-width: $breakpointBig) {
		height: 100px;
		box-shadow: 0 0 20px color(black a(55%));
		font-size: 1.9em;
	}
	
	&__copyright {
		height: 100%;
		margin-left: 2%;
		
		display: flex;
		align-items: center;
		
		flex: auto;
		
		@media (max-width: $breakpointMobile) {
			display: block;
			margin: 0 8vw;
		}
	}
	
	&__designed-by {
		height: 100%;
		margin-right: 2%;
		
		display: flex;
		align-items: center;
		
		flex: 0 0 auto;
		
		@media (max-width: $breakpointMobile) {
			display: block;
			margin-top: 6vw;
		}
	}
	
	&__image {
		width: 5vw;
		height: @width;
		
		display: block;
		
		flex: auto;
		
		@media (max-width: $breakpointMobile) {
			width: 30vw;
			height: @width;
			margin: 4vw auto 0;
			border-radius: 100%;
		}
		
		@media (min-width: $breakpointBig) {
			width: 100px;
			height: @width;
		}
		
		&:hover {
			animation: 0.0625s infinite rumble;
			
			/* stylelint-disable */
			@at-root { @keyframes rumble {
					0% { transform: rotate(0); }
					25% { transform: rotate(-2deg) translate(1px, 0); }
					50% { transform: rotate(0) translate(0, -1px); }
					75% { transform: rotate(2deg) translate(-1px, 0); }
					100% { transform: rotate(0) translate(0, 1px); }
			} }
			/* stylelint-enable */
		}
	}
}
