.organisers {
	z-index: 5;
	
	&__organiser {
		display: inline-block;
		
		color: white;
		font-size: 1.2vw;
		font-weight: normal;
		
		@media (max-width: $breakpointMobile) {
			margin-bottom: 8vw;
			font-size: 4vw;
		}
		
		@media (min-width: $breakpointBig) {
			font-size: 1.5em;
		}
		
		&:hover {
			text-shadow: none;
		}
		
		&:hover .organisers__img {
			transform: scale(1.1);
			// box-shadow: 0 0 10vw 0 color-mod($color6 a(50%));
			box-shadow: 0 0 5vw 0 $color1;
		}
	}
	
	&__img {
		width: 12vw;
		height: @width;
		margin: 1vw 1.4vw;
		
		border: 0.2vw solid $color3;
		border-radius: 100%;
		
		transition: $time1;
		
		@media (max-width: $breakpointMobile) {
			width: 32vw;
			height: @width;
			margin: 2vw 4vw;
			border: 0.7vw solid $color3;
		}
		
		@media (min-width: $breakpointBig) {
			width: 240px;
			height: @width;
			margin: 20px;
			
			border: 4px solid $color3;
		}
	}
	
	&__name {
		color: palegoldenrod;
		font-family: roboto slab, serif;
		font-size: 2.5vw;
		
		@media (max-width: $breakpointMobile) {
			font-size: 6vw;
		}
	}
	
	&__new-line {
		display: inline;
		
		@media (max-width: $breakpointMobile) {
			display: none;
		}
	}
}
