@import "variables";





.intro {
	max-width: none;
	height: 100vh;
	
	z-index: 10;
	
	position: relative;
	
	&__bga {
		width: 100%;
		height: 100%;
		
		position: absolute;
		top: 0;
		left: 0;
		
		background:
			radial-gradient(
				ellipse farthest-corner at 50% 0,
				color($color1 a(0%)) 15%,
				$color2 72%
			) center / 200% 100% no-repeat;
			
		background: url('img/bga.jpg') center / cover;
		
		transition: $time3 ease-out;
	}
	
	&__bgb {
		width: 100%;
		height: 100%;
		
		position: absolute;
		top: 0;
		left: 0;
			
		background: url('img/bgb.png') center / cover;
		
		transition: $time3 ease-out;
	}
	
	&__logo-container {
		margin: auto;
		
		position: absolute;
		top: 23vh;
		left: 0;
		right: 0;
		
		opacity: 0;
		transform: scale3d(0.8, 0.8, 1);
		
		transition: transform 5s ease-out,
				opacity 2s 0.5s ease-in;
		
		@media (max-width: $breakpointMobile) {
			top: 45vw;
		}
	}
	
	&__logo {
		width: 60vh;
		margin: 0 auto;
		
		display: block;
		
		@media (max-width: $breakpointMobile) {
			width: 75vw;
		}
	}
	
	&__subtext {
		width: 38vh;
		margin: 4vh auto;
		
		display: block;
		
		opacity: 0;
		
		transition: all 3s 2s;
		
		@media (max-width: $breakpointMobile) {
			width: 65vw;
			margin: 6vw auto 0;
		}
	}
	
	&__arrow-down-a {
		width: 5%;
		
		position: absolute;
		bottom: 4%;
		left: 47.5%;
		
		filter: drop-shadow(0 0 1vw $color3);
		
		transition: opacity 3s 2s;
		
		opacity: 0;
		
		@media (max-width: $breakpointMobile) {
			width: 12%;
			left: 44%;
		}
	}
	
	&__arrow-down {
		width: 100%;
		height: @width;
		
		display: block;
		
		@media (max-width: $breakpointMobile) {
			width: 12vw;
			height: @width;
		}
	}
}





.body {
	z-index: 9;
	
	&__title {
		margin-left: 1.5%;
		color: pink;
		font-size: 2.6vw;
		
		@media (max-width: $breakpointMobile) {
			margin-left: 0;
			font-size: 5vw;
		}
		
		@media (min-width: $breakpointBig) {
			font-size: 0.6em;
		}
	}
	
	&__title-new-line {
		display: none;
		
		@media (max-width: $breakpointMobile) {
			display: inline;
		}
	}
	
	&__video {
		width: 800px;
		height: 450px;
		margin: 5vw auto;
		
		display: block;
		
		border: none;
		
		@media (max-width: $breakpointMobile) {
			width: 100vw;
			height: calc(100vw*0.6);
			margin: 12vw auto;
		}
	}
	
	&__img {
		height: 16.8vw;
		
		@media (max-width: $breakpointMobile) {
			width: 100vw;
			height: auto;
		}
		
		@media (min-width: $breakpointBig) {
			height: 340px;
		}
	}
	
	&__program-container {
		width: 70%;
		margin: 1% 0 0 20%;
		
		display: flex;
		flex-flow: wrap;
		
		@media (max-width: $breakpointMobile) {
			width: 90%;
			margin: 5% 0 0 10%;
		}
	}
	
	&__program {
		width: 50%;
		margin-top: 2vw;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			margin-top: 8%;
		}
		
		@media (min-width: $breakpointBig) {
			margin-top: 35px;
		}
	}
	
	&__day {
		color: pink;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	&__time {
		width: 10%;
		padding-right: 1%;
		
		display: inline-block;
		float: left;
		
		font-weight: bold;
		text-align: right;
		
		@media (max-width: $breakpointMobile) {
			width: 10%;
			padding-right: 3%;
		}
	}
	
	&__organiser {
		display: inline-block;
		
		color: white;
		font-size: 1.2vw;
		font-weight: normal;
		
		@media (max-width: $breakpointMobile) {
			margin-bottom: 8vw;
			font-size: 4vw;
		}
		
		@media (min-width: $breakpointBig) {
			font-size: 1.5em;
		}
		
		&:hover {
			text-shadow: none;
		}
		
		&:hover .body__organiser-img {
			transform: scale(1.15);
		}
	}
	
	&__organiser-img {
		width: 12vw;
		height: @width;
		margin: 1vw;
		
		border: 0.2vw solid pink;
		border-radius: 100%;
		
		transition: $time1;
		
		@media (max-width: $breakpointMobile) {
			width: 32vw;
			height: @width;
			margin: 2vw 4vw;
			border: 0.7vw solid pink;
		}
		
		@media (min-width: $breakpointBig) {
			width: 240px;
			height: @width;
			margin: 20px;
			
			border: 4px solid pink;
		}
	}
	
	&__organiser-new-line {
		display: inline;
		
		@media (max-width: $breakpointMobile) {
			display: none;
		}
	}
}





.whats-included {
	z-index: 7;
	
	&__img {
		height: 18.6vw;
		
		@media (max-width: $breakpointMobile) {
			width: 100vw;
			height: auto;
		}
		
		@media (min-width: $breakpointBig) {
			height: 375px;
		}
	}
	
	&__map-overlay {
		width: 100vw;
		height: 35vw;
		margin-top: -35vw;
		
		position: relative;
		top: 40vw;
	}
	
	&__map {
		width: 100vw;
		height: 35vw;
		margin: 5vw 0 0;
		
		display: block;
		
		border: none;
		
		@media (max-width: $breakpointMobile) {
			height: 100vw;
			margin: 12vw 0 0;
		}
		
		@media (min-width: $breakpointBig) {
			width: $breakpointBig;
			height: 700px;
			margin: 100px 0 0;
		}
	}
}





.spread-the-word {
	z-index: 6;
	
	&__fb-iframe {
		width: 500px;
		height: 570px;
		margin: 0 auto;
		
		display: block;
		
		border: none;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: 570px;
			margin: 8vw auto;
		}
	}
	
	&__logos {
		width: 55%;
		margin: 6vw auto 8vw;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
		}
		
		@media (min-width: $breakpointBig) {
			margin: 120px auto 130px;
		}
	}
	
	&__logo {
		height: 8vw;
		
		@media (max-width: $breakpointMobile) {
			height: 30vw;
			margin: 5vw auto;
		}
		
		@media (min-width: $breakpointBig) {
			height: 160px;
		}
	}
}
