@import "variables";





.intro {
	max-width: none;
	height: 100vh;
	
	
	z-index: 10;
	
	position: relative;
	
	&__bga {
		width: 100%;
		height: 100%;
		
		position: absolute;
		top: 0;
		left: 0;
		
		background:
			radial-gradient(
				ellipse farthest-corner at 50% 0,
				color($color1 a(0%)) 15%,
				$color2 72%
			) center / 200% 100% no-repeat;
			
		background: url('img/bga.jpg') center / cover;
		
		transition: $time3 ease-out;
	}
	
	&__bgb {
		width: 100%;
		height: 100%;
		
		position: absolute;
		top: 0;
		left: 0;
			
		background: url('img/bgb.png') center / cover;
		
		transition: $time3 ease-out;
	}
	
	&__logo-container {
		margin: auto;
		
		position: absolute;
		top: 22vh;
		left: 0;
		right: 0;
		
		opacity: 0;
		transform: scale3d(0.8, 0.8, 1);
		
		transition: transform 5s ease-out,
				opacity 2s 0.5s ease-in;
		
		@media (max-width: $breakpointMobile) {
			top: 25vh;
		}
	}
	
	&__logo {
		width: 60vh;
		margin: 0 auto 3vh;
		
		display: block;
		
		@media (max-width: $breakpointMobile) {
			filter: drop-shadow(0 0 15vw white);
		}
	}
	
	&__subtext {
		width: 20vw;
		margin: 4vh auto 0;
		
		display: block;
		
		opacity: 0;
		
		transition: all 3s 2s;
		
		@media (max-width: $breakpointMobile) {
			margin: 7vh auto 0;
		}
	}
	
	&__arrow-down-a {
		width: 5%;
		
		position: absolute;
		bottom: 4%;
		left: 47.5%;
		
		filter: drop-shadow(0 0 1vw $color3);
		
		transition: opacity 3s 2s;
		
		opacity: 0;
		
		@media (max-width: $breakpointMobile) {
			width: 12%;
			left: 44%;
		}
	}
	
	&__arrow-down {
		width: 100%;
		height: @width;
		
		display: block;
		
		@media (max-width: $breakpointMobile) {
			width: 12vw;
			height: @width;
		}
	}
}

.activities {
	z-index: 9;
	
	background: black url('img/activities.jpg') top / 100% no-repeat;
	background: 
		radial-gradient(
			ellipse farthest-corner at 50% 0,
			$color1 20%,
			$color2 60%
		) center 0 / 400% 100% no-repeat;
	box-shadow: 0 0 10vw $gray2;
	
	&__fb-iframe {
		width: 700px;
		height: 670px;
		margin: 3.5vw auto 3vw;
		
		display: block;
		
		background-color: $color7;
		border: 0;
		
		@media (max-width: $breakpointMobile) {
			width: 320px;
			height: 500px;
			margin: 10vw auto 6vw;
		}
	}
	
	&__img-foottext {
		width: 22%;
		margin: 0;
		
		position: absolute;
		top: calc($topBarHeight + 20px);
		right: 1.5%;
		
		text-align: right;
		font-size: 0.85vw;
		font-family: Roboto Slab, serif;
		
		@media (min-width: $breakpointBig) {
			font-size: 1em;
		}
		
		@media (max-width: $breakpointMobile) {
			display: none;
		}
	}
	
	&__logo {
		width: 22%;
		margin: 0 auto;
		
		align-self: center;
		
		@media (max-width: $breakpointMobile) {
			height: auto !important;
			width: 100%;
			margin: 0;
			padding: 12vw 0;
			align-self: flex-end;
		}
	}
	
	&__img {
		height: 16.7vw;
		
		@media (max-width: $breakpointMobile) {
			width: 100vw;
			height: auto;
		}
	}
}





.body {
	z-index: 9;
	
	&__title {
		color: pink;
		font-size: 2.6vw;
	}
	
	&__video {
		width: 800px;
		height: 450px;
		margin: 5vw auto;
		
		display: block;
		
		border: none;
	}
	
	&__organiser {
		display: inline-block;
		
		color: white;
		font-size: 1.2vw;
		font-weight: normal;
		
		&:hover {
			text-shadow: none;
		}
		
		&:hover .body__organiser-img {
			transform: scale(1.15);
		}
	}
	
	&__organiser-img {
		width: 12vw;
		height: 12vw;
		margin: 1vw;
		
		border: 0.2vw solid pink;
		border-radius: 100%;
		
		transition: $time1;
	}
}





.whats-included {
	z-index: 7;
	
	&__map {
		width: 100vw;
		height: 35vw;
		margin: 5vw 0 0;
		
		display: block;
		
		border: none;
	}
	
	&__img {
		height: 18.5vw;
		
		@media (max-width: $breakpointMobile) {
			width: 100vw;
			height: auto;
		}
	}
}





.spread-the-word {
	z-index: 6;
	
	&__fb-iframe {
		width: 600px;
		height: 600px;
		margin: 0 auto;
		
		display: block;
		
		border: none;
		
		@media (max-width: $breakpointMobile) {
			width: 100%;
			height: calc(100vw * 0.7);
			margin: 8vw auto;
		}
	}
}
